
<div class="page-info center-align">

    <i class="large material-icons">help_outline</i>

    <h5 class="">
        To start scan
    </h5>

    <p>
        <ul class="left-align">

            <li>1. Surf internet</li>
            <li>2. Pay attention on extension icon and couter on it</li>
            <li>3. Click on icon to see vulnerabilities that were found</li>

        </ul>
    </p>

</div>