<div class="page-info center-align">

    <i class="large material-icons">autorenew</i>

    <h5 class="">
        No vulnerabilities or disclosed software version found on this page!
    </h5>

</div>w