<div class="page-info center-align">

    <i class="large material-icons">broken_image</i>

    <h5 class="">
        {{ url }}
        <br/>
    </h5>

    <p>Seems current host is not a web site which can be scanned, please follow http(s) websites</p>

</div>