@import "~materialize-css/sass/materialize.scss";

$color-main: #252527;
$color-dark: #38383A;
$color-grey: #f7f7f7;
$color-accent: #FF6600;

.color-black {
  color: $color-main;
}

.vulners-start-btn {
  max-width: 190px;
  margin: 0 auto;
}

html {
  width: auto;
  height: 100%;
}

body {
  height: 100%;
  background: #fff;
}

.body {
  background: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  width: 450px;
  min-height: 600px;
  overflow-y: scroll;
  height: 100%;
  background-color: #fff;
  color: $color-dark;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.height-100 {
  height: 100%;
}

.button-collapse {
  margin: 0 !important;
}

.scroll-layout {
  height: 100%;
  overflow-y: scroll;
}


/****** DATA PAGE ******/
#header .nav-wrapper {
  padding: 0 16px;
  background: url("/img/background_new.jpg") 20%;
}

#content {
  flex: 1;
  padding: 16px;
  overflow-y: scroll;
  width: 100%;
  height: 100%;

  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
#content::-webkit-scrollbar {
  display: none;
}

.stat div {
  margin-right: 8px;
}

.material-icons.delete {
  cursor: pointer;
}

.domain-name {
  font-size: 20px;
  font-weight: 300;
}

.collapsible-header {
  color: $color-dark;
  flex-direction: row;
  justify-content: space-between;
}

.collapsible-body {
  padding: 0
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: $color-accent !important;
}
.switch label input[type=checkbox]:checked+.lever {
  background-color: $color-accent !important;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid $color-accent !important;
  box-shadow: 0 1px 0 0 $color-accent !important;
}
.input-field .prefix.active {
  //color:$color-accent !important;
}

.data-title {
  max-width: 350px;
}
.data-item {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vulnerability {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  .data-title {
    color: $color-dark;
  }
}

.collection a.collection-item:not(.active):hover {
  background-color: $color-grey
}

.search-field {
  margin-top: 0;
  color: $color-dark;
  i {
    width: 28px !important;
    margin-top: 10px;
  }
}

/******* SETTINGS **********/

.settings {
  display: flex;
  flex-direction: column;
  .settings-hero {
    flex: 1;
  }
}

.settings-lever-label {
  height: 48px;
  display: flex;
  align-items: center;
  margin-top: 8px;

  .material-icons {
    margin-left: 16px;
  }
}


/******* INFO PAGES ********/
#index {
  display: flex;
  flex-direction: column;
}

#index-content {
  min-height: 100%;
  padding: 16px;
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#logo {
  max-width: 70%;
}

.background-image {
  background: url("/img/background_new.jpg");
}

.page-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


// Scroll Off
::-webkit-scrollbar {
  display: none;
}