@import "~materialize-css/sass/materialize.scss";


html {
  width: auto;
  height: 100%;
}

body, .body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  min-width: 450px;
  min-height: 600px;
  overflow-y: hidden;
  height: 100%;
  background-color: #fff;
  color: #38383a;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.height-100 {
  height: 100%;
}


/****** DATA PAGE ******/
#header .nav-wrapper {
  padding: 0 16px;
}

#content {
  flex: 1;
  padding: 16px;
  overflow-y: scroll;
  width: 100%;
  height: 100%;

  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
#content::-webkit-scrollbar {
  display: none;
}

.stat div {
  margin-right: 8px;
}

.material-icons.delete {
  cursor: pointer;
}

.domain-name {
  font-size: 20px;
  font-weight: 300;
}

.collapsible-header {
  flex-direction: row;
  justify-content: space-between;
}

.collapsible-body {
  padding: 0
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #FF6600 !important;
}
.switch label input[type=checkbox]:checked+.lever {
  background-color: #FF6600 !important;
}

.data-title {
  max-width: 350px;
}
.data-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/******* INFO PAGES ********/
#index {
  display: flex;
  flex-direction: column;
}

#index-content {
  height: 100%;
  padding: 16px;
  color: white;
  flex: 1;
}

#logo {
  max-width: 70%;
}

.background-image {
  background: url("/img/background_new.jpg");
}

.page-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}