<div id="wrong-url" class="center-align">

    <i class="large material-icons">broken_image</i>

    <h5 class="">
        {{ url }}
        <br/>
        <br/>
        Seems current host is not a web site which can be scanned, please follow http(s) websites
    </h5>

</div>