$color-main: #252527;
$color-dark: #38383A;
$color-grey: #f7f7f7;
$color-accent: #FF6600;

body, #body{
  height: 600px;
  width: 400px;
  overflow-y: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  font-family: "Roboto", sans-serif;
  margin: 0;
}